# Data Mining Final Project

# Naive Bayes Algorithm

# Importing Libraries

In [97]:
import pandas as pd
import numpy as np
from sklearn import neighbors, preprocessing, model_selection
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.naive_bayes import GaussianNB

# Importing the Dataset from the path

In [78]:
Vehicle = pd.read_csv(r'C:\Akhil\NJIT Courses\Data Mining\Data Mining Final Project\vehicle_stolen_dataset.csv')

In [79]:
Vehicle

   number_plate   brand  color   time stoled
0          N001     BMW  black  night    yes
1          N002    Audi  black  night     no
2          N003  NISSAN  black  night    yes
3          N004    VEGA    red    day    yes
4          N005     BMW   blue    day     no
5          N006    Audi  black    day    yes
6          N007    VEGA    red  night     no
7          N008    Audi   blue    day    yes
8          N009    VEGA  black    day    yes
9          N010  NISSAN   blue    day     no
10         N011     BMW  black  night    yes
11         N012  NISSAN    red    day     no
12         N013    VEGA  black  night    yes
13         N014     BMW    red    day     no
14         N015    Audi  black    day    yes
15         N016    Audi   blue  night    yes
16         N017    Audi    red    day     no
17         N018  NISSAN  black    day    yes
18         N019     BMW   blue    day    yes
19         N020     BMW    red  night    yes

# Checking for Null Values

In [80]:
Vehicle.isna().mean()

number_plate    0.0
brand           0.0
color           0.0
time            0.0
stoled          0.0
dtype: float64

In [102]:
Vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   number_plate  20 non-null     object
 1   brand         20 non-null     object
 2   color         20 non-null     object
 3   time          20 non-null     object
 4   stoled        20 non-null     object
dtypes: object(5)
memory usage: 928.0+ bytes

# Dataframe

In [82]:
Vehicle_df = Vehicle

# Identifying Columns

In [103]:
label_cols = ['number_plate', 'brand', 'time', 'color']

# Identifying Target Column

In [104]:
TARGET = 'stoled'

# Label Encoding the data

In [105]:
from sklearn.preprocessing import LabelEncoder

In [106]:
def label_encoder(c):
    label_enc = LabelEncoder()
    return label_enc.fit_transform(c)

In [107]:
label_encoded_df = Vehicle_df[label_cols].apply(label_encoder)

In [109]:
target_df = Vehicle_df[TARGET]

# Concatenating the Label Encoded columns into a single data frame

In [111]:
df = pd.concat([label_encoded_df, target_df], axis=1)

In [112]:
df.head()

   number_plate  brand  time  color stoled
0             0      1     1      0    yes
1             1      0     1      0     no
2             2      2     1      0    yes
3             3      3     0      2    yes
4             4      1     0      1     no

In [113]:
df.tail()

    number_plate  brand  time  color stoled
15            15      0     1      1    yes
16            16      0     0      2     no
17            17      2     0      0    yes
18            18      1     0      1    yes
19            19      1     1      2    yes

# Assigning X Variable

In [114]:
X = df.drop(['stoled'], axis=1)

In [115]:
X.head()

   number_plate  brand  time  color
0             0      1     1      0
1             1      0     1      0
2             2      2     1      0
3             3      3     0      2
4             4      1     0      1

In [116]:
X.shape

(20, 4)

# Assigning Y Variable

In [118]:
y = df['stoled']

In [119]:
y.head()

0    yes
1     no
2    yes
3    yes
4     no
Name: stoled, dtype: object

# Splitting the Dataset into train and test

In [120]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=168)

# Initiating the Model and fitting the model to the data

In [121]:
from sklearn.naive_bayes import GaussianNB

In [122]:
model = GaussianNB()

In [123]:
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [124]:
y_model = model.predict(X_test)

# Accuracy

In [125]:
from sklearn.metrics import accuracy_score

Accuracy = accuracy_score(y_test, y_model)*100

In [126]:
print(Accuracy)

57.14285714285714

# Random Forest Algorithm

# Importing the Libraries

In [130]:
import pandas as pd
import numpy as np

In [131]:
Vehicle = pd.read_csv(r'C:\Akhil\NJIT Courses\Data Mining\Data Mining Final Project\vehicle_stolen_dataset.csv')

In [132]:
Vehicle

   number_plate   brand  color   time stoled
0          N001     BMW  black  night    yes
1          N002    Audi  black  night     no
2          N003  NISSAN  black  night    yes
3          N004    VEGA    red    day    yes
4          N005     BMW   blue    day     no
5          N006    Audi  black    day    yes
6          N007    VEGA    red  night     no
7          N008    Audi   blue    day    yes
8          N009    VEGA  black    day    yes
9          N010  NISSAN   blue    day     no
10         N011     BMW  black  night    yes
11         N012  NISSAN    red    day     no
12         N013    VEGA  black  night    yes
13         N014     BMW    red    day     no
14         N015    Audi  black    day    yes
15         N016    Audi   blue  night    yes
16         N017    Audi    red    day     no
17         N018  NISSAN  black    day    yes
18         N019     BMW   blue    day    yes
19         N020     BMW    red  night    yes

# Checking Null Values

In [133]:
Vehicle.isna().mean()

number_plate    0.0
brand           0.0
color           0.0
time            0.0
stoled          0.0
dtype: float64

In [134]:
Vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   number_plate  20 non-null     object
 1   brand         20 non-null     object
 2   color         20 non-null     object
 3   time          20 non-null     object
 4   stoled        20 non-null     object
dtypes: object(5)
memory usage: 928.0+ bytes

In [135]:
Vehicle_df = Vehicle

# X and Y

In [145]:
X = df.drop(['stoled'], axis=1)

In [146]:
y = df['stoled']

# Splitting the Data into train and test

In [147]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=171)

# Random Forest

In [156]:
from sklearn.ensemble import RandomForestClassifier

In [157]:
rfc = RandomForestClassifier(n_estimators=600)

In [158]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=600,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [159]:
predictions = rfc.predict(X_test)

# Confusion Matrix and Classification Report

In [160]:
from sklearn.metrics import classification_report,confusion_matrix

In [161]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

          no       0.33      0.33      0.33         3
         yes       0.33      0.33      0.33         3

    accuracy                           0.33         6
   macro avg       0.33      0.33      0.33         6
weighted avg       0.33      0.33      0.33         6

In [162]:
print(confusion_matrix(y_test,predictions))

[[1 2]
 [2 1]]

# LSTM

# Importing Libraries

In [164]:
import tensorflow as tf
from keras.preprocessing import sequence 
from keras.models import Sequential 
from keras.layers import Dense, Dropout, Embedding, LSTM 
from keras.datasets import imdb

# Importing X and Y that we did in the previous 2 algorithms

In [165]:
X.head()

   number_plate  brand  time  color
0             0      1     1      0
1             1      0     1      0
2             2      2     1      0
3             3      3     0      2
4             4      1     0      1

In [167]:
y.head()

0    yes
1     no
2    yes
3    yes
4     no
Name: stoled, dtype: object

# Splitting the Data into train and test

In [173]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=141)